<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Blogger</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="../index.ejs" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="../viewblogs.ejs" class="nav-link">View Blogs</a></li>
        <li class="nav-item"><a href="../createblogs.ejs" class="nav-link">Create Blogs</a></li>
        <li class="nav-item"><a href="../editblogs.ejs" class="nav-link">Edit Blogs</a></li>
        <li class="nav-item"><a href="../deleteblogs.ejs" class="nav-link">Delete Blogs</a></li>
      </ul>
    </header>
  </div>